* {
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}


#cursor {
    transition: all linear 0.1s;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 999;
}

#loader{
    width: 100%;
    height: 100vh;
    background-color: #A3A3A3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9999;
}

#l-content{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#l-content h1{
    font-size: 1.2vw;
}

#l-content .loading{
    width: 4vw;
    height: 0.2vw;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
    margin-top: 0.23vw;
}

#l-content .loading .l-fill{
    height: 100%;
    background-color: #5e5d5d;
    animation: loader 1s linear forwards;
}

@keyframes loader {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

#l-content h2{
    font-size: 1.2vw;
}

#main {
    width: 100%;
    background-color: black;
    position: relative;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .bound-text {
    transform: translateY(100%);
}


#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2.5vw 2.5vw;
    background-color: black;
    color: white;
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 400;
    transition: all 0.3s ease;

}

#nav h5:hover{
    text-decoration: underline;
    transition: all 0.3s ease;
}

#heading h1 {
    margin-top: 1vw;
    margin-left: 3vw;
    opacity: 0.65;
    line-height: .9;
    font-family: 'General sans medium';
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 500;
}

#heading> :nth-child(2) {
    margin-left: 12vw;
}

.boxText {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.boxText h5 {
    line-height: 2;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

#sec-heading {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 175px;
    padding-right: 3vw;
}

#sec-heading h5 {
    line-height: .95;
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;
}

#hero-footer {
    padding: 0 2.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
}

#hero-footer a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 1vw;
}

#hero-footer i {
    font-size: 15px;
    font-weight: 200;
    gap: 10px;
}

#hero-footer .icon-set{
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    font-weight: 900;
}

#hero-footer .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}

#content {
    color: white;
    padding-right: 10vw;
    padding-top: 200px;
    width: 100%;
    background-color: black;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7vw;
    opacity: 0.6;
    transition: all 0.4s ease-in;

}

.elem:hover h1{
    opacity: 0.3;
    padding-left: 5vw;
    transition: all 0.3s ease;
}

.elem-last {
    border-bottom: 1px solid #888;

}

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);

}

#about {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10vw 0;
    background-color: black;
    color: white;
}

#circle-about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#img-about {
   width: 55%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-right: 5vw;
}

#img-about img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 2vw;
}

#text-about {
    width: 45%;
    padding-right: 10vw;
    font-size: 1rem;
    margin-top: 80px;
}

#text-about p {
     width: 90%;
    line-height: 1.7;
}

#text-about span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    opacity: 0.6;
}

#text-about a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 13px;
    border-radius: 100px;
    font-size: 1vw;
    margin-top: 20px;
    display: inline-block;

}

#text-about a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

#subscribe {
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;
    padding-left: 3vw;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 0.8rem;
}

#subscribe h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 2.5vw;
    color: white;
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#footer-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

#footer-left h4{
    font-weight: 500;
}

#footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#footer-right a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease;
}

#footer-right a:hover {
    color: #888;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.3s ease;

}


@media  (max-width: 500px) {
    #hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .bound-text {
    transform: translateY(100%);
}


#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8vw 6vw;
    background-color: black;
    color: white;
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;

}

#nav h5:hover{
    text-decoration: underline;
    transition: all 0.3s ease;
}

#heading{
    margin-top: 3vw;
}

#heading h1 {
    margin-top: 1.1vw;
    margin-left: 5vw;
    opacity: 0.65;
    line-height: 11.5vw;
    font-family: 'General sans medium';
    font-size: 15vw;
    text-transform: uppercase;
    font-weight: 500;
}

#heading> :nth-child(2) {
    margin-left: 15vw;
}

.boxText {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.boxText h5 {
    line-height: 2;
    font-size: .9rem;
    font-weight: 500;
    margin-top: 4vw;
    text-transform: uppercase;
    text-align: right;
}

#sec-heading {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 175px;
    padding-right: 5vw;
}

#sec-heading h5 {
    line-height: .95;
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 3vw;
}

#hero-footer {
    padding: 0 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
}

#hero-footer a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 3.5vw;
}

#hero-footer a:nth-child(2){
    width: 35%;
}

#hero-footer i {
    font-size: 15px;
    font-weight: 200;
    gap: 10px;
}

#hero-footer .icon-set{
    display: none;
    align-items: center;
    gap: 5px;
    color: black;
    font-weight: 900;
}

#hero-footer .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}

#content {
    color: white;
    padding-right: 5vw;
    padding-top: 10vw;
    padding-left: 5vw;
    width: 100%;
    background-color: black;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5vw 0vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 9vw;
    opacity: 0.6;
    transition: all 0.4s ease-in;

}

.elem:hover h1{
    opacity: 0.3;
    padding-left: 5vw;
    transition: all 0.3s ease;
}

.elem-last {
    border-bottom: 1px solid #888;

}

.elem img {
    display: none;
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);

}

#about {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10vw 0;
    background-color: black;
    color: white;
}

#circle-about {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5vw 5vw;
}
#img-about {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-right: 5vw;
}

#img-about img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 2vw;
}

#text-about {
    width: 100%;
    padding-right: 5vw;
    font-size: 1.1rem;
    margin-top: 8vw;
}

#text-about p {
     width: 100%;
    line-height: 1.7;
}

#text-about span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    opacity: 0.6;
}

#text-about a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 2vw 5vw;
    border-radius: 100px;
    font-size: 3vw;
    margin-top: 20px;
    display: inline-block;

}

#text-about a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

#subscribe {
    color: white;
    padding: 20px 30px;
    padding-bottom: 20vh;
    background-color: black;
    padding-left: 3vw;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 0.9rem;
}

#subscribe h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
}

#footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 3vw 5vw;
    color: white;
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#footer-left {
    display: flex;
    align-items: center;
    gap: 42vw;
    padding: 5vw 0;
}

#footer-left h4{
    font-weight: 500;
}

#footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5vw;
    border-bottom: 1px solid #888;
}

#footer-right a {
    color: white;
    text-decoration: none;
    font-size: 4.2vw;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease;
}

#footer-right a i{
    display: none;
}

}
